
<div class="card border-primary mb-3">
  <div class="card-header">{{ avis.user }} - {% include "utils/_stars.html.twig" with { rating: avis.rating } %}
                        </div>
  <div class="card-body">
    <p class="card-text"> {{ avis.message }}</p>

    {% if avis.restaurant.user == app.user %}
    <button class="btn btn-primary"> Répondre </button> {% include "avis/_delete_form.html.twig" with {avis:avis }%}
    {% endif %}
  </div>
</div>