/* body {
    background-color: rgb(232, 230, 230);
} */

.bg-hero {
    background-image: url('../img/background-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
}