{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <h1 class="fs-2"> <i class="fa-regular fa-face-smile-beam"></i> Bonjour {{ app.user.fullname }} </h1>
    </div>
{% endblock %}