{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('app_restaurant_dashboard') }}">back to list</a>
{% endblock %}
